<?php
/** @var $block Mage_ShippingInsurance_Block_CheckoutInsurance */
$block = $this;
?>

<?php if ($block->isModuleEnabled() && $block->isShippingMethodAllowed()): ?>
    <span>
        Add Shipping Method Insurance to your order. It will cost: <strong><?=$this->getInsuranceCost()?></strong>
        <input type="checkbox" name="shippinginsurance_enabled" value="1">
    </span>
<?php endif; ?>

