<?php
/** @var $block Mage_ShippingInsurance_Block_CheckoutInsurance */
$block = $this;
$costs = $block->listInsuranceCosts();
?>

<div class="shipping-insurance">
    <?php if ($block->isFeatureEnabled() && 0 < count($costs)): ?>
        <p class="control">
            <input type="checkbox" id="shippinginsurance_enabled" name="shippinginsurance_enabled" value="1">
            <label for="shippinginsurance_enabled"><?php echo $this->__('Add Shipping Method Insurance') ?></label>
        </p>

        <p><?php echo $this->__('All insurance-supported shipping methods:'); ?></p>

        <table>
            <thead>
            <tr>
                <td><?php echo $this->__('Shipping Method'); ?></td>
                <td><?php echo $this->__('Insurance Cost'); ?></td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($costs as $carrier => $cost): ?>
                <tr>
                    <td><?php echo $carrier; ?></td>
                    <td><?php echo $cost; ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>
</div>